body, html {
    height: 100%;
}
.main-box {
    height: 100%;
}

.bg-page {
    background-color: rgb(240, 248, 255);
}

.bg-image1 {
    background-image: url("../img/background.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register {
    background-image: url("../img/background-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    height: 50px;
    width: 50px;
}

.lower-footer {
    background-color: rgb(230, 240, 255);
}

.page-item:hover {
    cursor: pointer;
}

/* Page images sizes */

.dish-details-thumbnail {
    width: 1900px;
    height: 450px;
    object-fit: cover;
}

.dish-profile-thumbnail {
    width: 475px;
    height: 215px;
    object-fit: cover;
}

.dish-browser-thumbnail {
    width: 350px;
    height: 180px;
    object-fit: cover;
}

.user-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.user-avatar-thumbnail {
    width: 40px;
    height: 40px;
}

/* Social media icons styles */

.fa {
    font-size: 16px;
}

.fa-star, .fa-star-o {
    color: gold;
}

.fa-github {
    font-size: 20px;
    padding: 2px;
}

.big-checkbox {
    width: 15px;
    height: 15px;
}


@media (min-width: 768px) {
    .hidden-block {
        visibility: hidden
    }
}

@media (max-width: 765px) {
    .hidden-block {
        display: none;
    }
}


/* Errors */

.error-code {
    font-size: 200px;
}

.error-code-description {
    margin-top: -30px;
}

.error-message {
    color: #bf0000;
}