body, html {
    height: 100%;
}
.main-box {
    height: 100%;
}

.bg-page {
    background-color: rgb(240, 248, 255);
}

.bg-image1 {
    background-image: url("../img/background.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register {
    background-image: url("../img/background-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    height: 50px;
    width: 50px;
}

.lower-footer {
    background-color: rgb(230, 240, 255);
}

/* Profile */

.half-hr {
    width: 70%;
    margin-top: -9px;
}

/* Profile boxes sizes */

.profile-comment-height {
    height: 226px;
}

.profile-dish-height {
    height: 351px;
}


/* Social media icons styles */

.fa {
    font-size: 16px;
}

.fa-github {
    font-size: 20px;
    padding: 2px;
}

.big-checkbox {
    width: 15px;
    height: 15px;
}